/* 
This is a CSS comment 
Shortcut for adding the comment is command/ ctrl + /
*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}
header, footer {
    background-color:lavender;
}
.site-title {
    color: tan ;
}

image {
    box-shadow: 0 2px 1px #000;
}


