/* 
This is a CSS comment 
Shortcut for adding the comment is command/ ctrl + /
*/
body { 
    font-family: Arial, sans-serif; 
} 

.full{
    background-color: rgba(170,212,207,255)
    }
    
    .container_Color{
        background-color: rgba(212, 233, 231, 255);
    }
    .landing {
        
        background-image: url("./lone-starfish-wide.jpg");
        height: 50vh;
        width: 89vw;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        margin-bottom: -3px;
    }
    
    .heading {
        color: white;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }